
$white: #ffffff;
$black: #333333;
$darkGray: #818181;
$lightGray:#888888;
$red: #ec5a4b;

$blockWidth: 140px;
$defaulPading: 10px;
$solidBorder: 1px solid;

$itemPading: 8px 28px;
$lineHeightTitle: 35px;
$lineHeightSideBar: 22px;
$lineHeightFooter: 34px;

//fonts
$fontSizeSmall: 12px;
$fontSizeBigger: 30px;
$fontSizeBig: 20px;
$fontSizeNormal: 14px;
$fontSizeSmaller: 10px;

$defaultTextShadow: 0 1px 0 white;
